<div ng-cloak>
 <div class="well">
  <form class="form-horizontal">
   <fieldset>
    <legend>Edit Mission</legend>
    <div class="alert alert-danger" ng-show="userMissionEditController.ERROR_STATUS" translate="MISSION_EDIT_ERROR_STATUS_MSG" />
    <div class="alert alert-danger" ng-show="userMissionEditController.UNIQUE_CONSTRAINT_VIOLATION_STATUS" translate="MISSION_EDIT_UNIQUE_CONSTRAINT_VIOLATION_STATUS_MSG" />
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-6">
      <input type="text" placeholder="Title" class="form-control" ng-model="userMissionEditController.mission.title" />
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-6">
      <select class="form-control" ng-options="client.account for client in userMissionEditController.clients track by client.id"
       ng-model="userMissionEditController.mission.client">
       <option value=''>- Client -</option>
      </select>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-6">
      <select class="form-control" ng-options="project.name for project in userMissionEditController.projects track by project.id"
       ng-model="userMissionEditController.mission.project">
       <option value=''>- Project -</option>
      </select>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-6">
      <select class="form-control" ng-options="function.name for function in userMissionEditController.functions track by function.id"
       ng-model="userMissionEditController.mission.function">
       <option value=''>- Function -</option>
      </select>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-6">
      <select class="form-control" ng-options="functionType.name for functionType in userMissionEditController.functionTypes track by functionType.id"
       ng-model="userMissionEditController.mission.functionType">
       <option value=''>- Function Type -</option>
      </select>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-6">
      <select class="form-control" ng-options="missionType.name for missionType in userMissionEditController.missionTypes track by missionType.id"
       ng-model="userMissionEditController.mission.missionType">
       <option value=''>- Mission Type -</option>
      </select>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-10">
      <textarea placeholder="Technical Skills" rows="3" class="form-control" ng-model="userMissionEditController.mission.technicalSkills" />
      <span class="help-block">Describe Technical Skills</span>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-10">
      <textarea placeholder="FunctionalSkills" rows="3" class="form-control" ng-model="userMissionEditController.mission.functionalSkills" />
      <span class="help-block">Describe Functional Skills</span>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-10">
      <textarea placeholder="Context" rows="3" class="form-control" ng-model="userMissionEditController.mission.context" />
      <span class="help-block">Describe Contexte</span>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-10">
      <textarea placeholder="Approche" rows="3" class="form-control" ng-model="userMissionEditController.mission.approche" />
      <span class="help-block">Describe Approache</span>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-10">
      <textarea placeholder="Methodoloy" rows="3" class="form-control" ng-model="userMissionEditController.mission.methodology" />
      <span class="help-block">Describe Methodology</span>
     </div>
    </div>
    <div class="form-group">
     <label class="col-lg-1" />
     <div class="col-lg-10">
      <textarea placeholder="Benefits" rows="3" class="form-control" ng-model="userMissionEditController.mission.benefits" />
      <span class="help-block">Report Benefits</span>
     </div>
    </div>
    <div class="form-group">
     <div class="col-lg-10 col-lg-offset-2">
      <button class="btn btn-success" type="submit" ng-click="userMissionEditController.updateMission(userMissionEditController.mission)">Submit</button>
      <a ui-sref="site.home.user" class="btn btn-warning">Cancel</a>
     </div>
    </div>
   </fieldset>
  </form>
 </div>
</div>