<div ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<h1 class="alert alert-info" class="lead" translate="HOME_TITLE_MSG" />
			<div class="alert alert-dismissible alert-info">
				If you want to
				<a class="alert-link" href="#/account/login">authenticate</a>
				, you can try the default accounts:
				<br />
				- Administrator (login="admin" and password="admin")
				<br />
				- Manager (login="manager" and password="manager")
				<br />
				- User (login="user" and password="user").
			</div>
			<div class="alert alert alert-dismissible alert-info">
				You don't have an account yet?
				<a class="alert-link" href="#/account/register">Register a new account</a>
			</div>
		</div>
	</div>
</div>
